*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#mainwrapper header {
	/*Header */
	background-color: blue;
	overflow: auto;
	font-family: monospace;
	display: flex;
	justify-content: space-between;
}
#mainwrapper header #logo {
	/* Company Logo text */
	display: flex;
	justify-content: space-between;
	width: 50%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
}
#mainwrapper header #logo img{
	display: flex;
	margin-right: 20px;
	border-radius: 100%;
}
#mainwrapper header #logo a{
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	float: left;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 45%;
	text-align: right;
	margin: auto;
	
}
header nav a {
	/* Links in header */
	padding-right: 30px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	transition: 0.4s ease;

}

nav a:hover{
	color: hotpink;
}

.login-page{
	background-color: skyblue;
}

.login-all{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.login-group{
	width: 280px;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 10px lightgray;
	border-radius: 10px;
	text-align: center;
	padding: 12px;
	background-color: white;
}

.login-form{
	margin-top: 20px;
}

.box{
	height: 25px;
	margin-bottom: 12px;
	width: 80%;
	align-content: center;
	margin-top: 12px;
	background-color: #e1e1e1;
	border: none;
	border-radius: 3px;
}

.btn{
	color: white;
	font-size: 12px;
	border-radius: 8px;
	width: 60px;
	border: none;
	background-color: lightcoral;
	height: 30px;
	font-weight: 700;
	transition: 0.5s ease;
}

.btn:hover{
	background-color: red;
}


.signup-all{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.signup-group{
	width: 280px;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 10px lightgray;
	border-radius: 10px;
	text-align: center;
	padding: 12px;
	background-color: white;
}

.signup-form{
	margin-top: 20px;
}

.box{
	height: 25px;
	margin-bottom: 12px;
	width: 80%;
	align-content: center;
	margin-top: 12px;
	background-color: #e1e1e1;
	border: none;
	border-radius: 3px;
}

.btn{
	color: white;
	font-size: 12px;
	border-radius: 8px;
	width: 60px;
	border: none;
	background-color: lightcoral;
	height: 30px;
	font-weight: 700;
	transition: 0.5s ease;
	margin-top: 15px;
}

.btn:hover{
	background-color: red;
}

#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Sidebar */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 25%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
/* Search field in sidebar */
#content .sidebar #search {
	width: 250px;
	border-radius: 80px;
	height: 30px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	margin-bottom: 21px;
}

.search{
	display: flex;
}

.search span{
	position: absolute;
	background-color: skyblue;
	border: none;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	align-items: center;
	margin-top: 2px;
	margin-left: 0.5px;
}

.menu h2{
	color: hotpink;
	text-align: center;

}
.menu  li a{
	display: flex;
	text-decoration: none;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 600;
	padding-left: 30px;
	color: blue;
}

.menu  li a:hover{
	color: hotpink;
}

/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}


.productInfo img{
	width: 80px;
	height: 100px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}

.add-pro form{
	text-align: center;
	max-width: 400px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 12px 15px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.add-pro h1{
	padding: 20px;
}
.add-pro form h3{
	margin-bottom: 10px;
}

.btn-add{
	color: white;
	font-size: 12px;
	border-radius: 8px;
	width: 80px;
	border: none;
	background-color: lightcoral;
	height: 30px;
	font-weight: 700;
	transition: 0.5s ease;
	margin-top: 15px;
}

.btn-add:hover{
	background-color: hotpink;
}


#content .mainContent {
	float: left;
	width: 75%;
	text-align: center;
	padding-left: 4%;
	
}

#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	width:250px;
	border: 1px solid;
	border-radius: 10px;
	margin-top: 20px;

}
.mainContent .productRow .productInfo img{
	width: 150px;
	height: 200px;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	color: black;
	position: relative;
	margin: 5px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	font-size: 18px;
	font-weight: 200;
	color: black;
}
.productRow .productInfo .productName {
	position: relative;
	font-size: 18px;
	font-weight: 200;
	color: black;
	margin: 10px;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
	position: relative;
	width: 84%;
	background-color: limegreen;
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 20px;
}
.productRow .productInfo .buyButton:hover{
	background-color: darkgreen;
}
